# Ignore node_modules directories in both frontend and backend
node_modules/

# Ignore log files
*.log

# Ignore environment variable files
.env

# Ignore build directories
dist/
build/

# Ignore package-lock.json (optional, if you want to avoid tracking it)
package-lock.json

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Terraform state files
*.tfstate
*.tfstate.backup

# Ignore the Terraform lock file
*.lock.hcl

# Ignore the .terraform directory
.terraform/

# Ignore sensitive JSON credentials